# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

.idea/*

src/main/__pycache__/*
src/main/python/.idea/
src/test/data/*

Experiments/data/*/*
Experiments/setup/automlbenchmark/*
Experiments/venv/
Experiments/results/
Experiments/setup/automl_test/
Experiments/setup/Baselines/

venv/
Experiments/cleaning-datasets/
src/python/.idea/*
Experiments/baselines/automl/__pycache__/*
Experiments/baselines/util/__pycache__/*
Experiments/baselines/.idea/*
Experiments/setup/automlbenchmark
