# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
Experiments/data/IMDB/ImdbName.csv
Experiments/data/IMDB/ImdbTitleAkas.csv
Experiments/data/IMDB/ImdbTitleBasics.csv
Experiments/data/IMDB/ImdbTitleCrew.csv
Experiments/data/IMDB/ImdbTitleEpisode.csv
Experiments/data/IMDB/ImdbTitlePrincipals.csv
Experiments/data/IMDB/ImdbTitleRatings.csv
.idea/.gitignore
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/antrun/build-copy and rename JAR.xml
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
.idea/uiDesigner.xml
Experiments/data/YELP/Dataset_User_Agreement.pdf
Experiments/data/YELP/photos.json
Experiments/data/YELP/yelp_academic_dataset_business.json
Experiments/data/YELP/yelp_academic_dataset_checkin.json
Experiments/data/YELP/yelp_academic_dataset_review.json
Experiments/data/YELP/yelp_academic_dataset_tip.json
Experiments/data/YELP/yelp_academic_dataset_user.json
.idea/dataSources.xml
Experiments/data/YELP/business_only.csv
Experiments/data/YELP/orig_yelp_academic_dataset_business.json
/cmake-build-debug/
/old/Experiments/.venv/
old/Experiments/data/IMDB/ImdbName.csv
old/Experiments/data/IMDB/ImdbTitleAkas.csv
old/Experiments/data/IMDB/ImdbTitleBasics.csv
old/Experiments/data/IMDB/ImdbTitleCrew.csv
old/Experiments/data/IMDB/ImdbTitleEpisode.csv
old/Experiments/data/IMDB/ImdbTitlePrincipals.csv
old/Experiments/data/IMDB/ImdbTitleRatings.csv
old/Experiments/data/YELP/business_only.csv
old/Experiments/data/YELP/Dataset_User_Agreement.pdf
old/Experiments/data/YELP/orig_yelp_academic_dataset_business.json
old/Experiments/data/YELP/photos.json
old/Experiments/data/YELP/yelp_academic_dataset_business.json
old/Experiments/data/YELP/yelp_academic_dataset_checkin.json
old/Experiments/data/YELP/yelp_academic_dataset_review.json
old/Experiments/data/YELP/yelp_academic_dataset_tip.json
old/Experiments/data/YELP/yelp_academic_dataset_user.json
.idea/CatDB.iml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
python/.idea/.gitignore
python/.idea/dataSources.xml
python/.idea/misc.xml
python/.idea/modules.xml
python/.idea/python.iml
python/.idea/vcs.xml
python/.idea/inspectionProfiles/profiles_settings.xml
python/__pycache__/DatasetReader.cpython-310.pyc
python/__pycache__/DBDriver.cpython-310.pyc
.gitignore
python/data/IMDB/ImdbName.csv
python/data/IMDB/ImdbTitleAkas.csv
python/data/IMDB/ImdbTitleBasics.csv
python/data/IMDB/ImdbTitleCrew.csv
python/data/IMDB/ImdbTitleEpisode.csv
python/data/IMDB/ImdbTitlePrincipals.csv
python/data/IMDB/ImdbTitleRatings.csv
python/data/YELP/business_only.csv
python/data/YELP/Dataset_User_Agreement.pdf
python/data/YELP/orig_yelp_academic_dataset_business.json
python/data/YELP/photos.json
python/data/YELP/yelp_academic_dataset_business.json
python/data/YELP/yelp_academic_dataset_checkin.json
python/data/YELP/yelp_academic_dataset_review.json
python/data/YELP/yelp_academic_dataset_tip.json
python/data/YELP/yelp_academic_dataset_user.json
old/src/main/cpp/.idea/cpp.iml
old/src/main/cpp/.idea/misc.xml
old/src/main/cpp/.idea/modules.xml
old/src/main/cpp/.idea/vcs.xml
old/src/main/cpp/cmake-build-debug/.ninja_deps
old/src/main/cpp/cmake-build-debug/.ninja_log
old/src/main/cpp/cmake-build-debug/build.ninja
old/src/main/cpp/cmake-build-debug/cmake_install.cmake
old/src/main/cpp/cmake-build-debug/CMakeCache.txt
old/src/main/cpp/cmake-build-debug/cpp
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/query/cache-v2
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/reply/cache-v2-36cb3ca4071b64453404.json
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-5e94a1e7f228d64602a1.json
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-701b9be4e89d35ca548e.json
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-02T05-50-20-0390.json
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/reply/target-cpp-Debug-970fb399c0ec8b81d089.json
old/src/main/cpp/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-99265b04de7ada3aac9e.json
old/src/main/cpp/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
old/src/main/cpp/cmake-build-debug/CMakeFiles/clion-environment.txt
old/src/main/cpp/cmake-build-debug/CMakeFiles/cmake.check_cache
old/src/main/cpp/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
old/src/main/cpp/cmake-build-debug/CMakeFiles/rules.ninja
old/src/main/cpp/cmake-build-debug/CMakeFiles/TargetDirectories.txt
old/src/main/cpp/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
old/src/main/cpp/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
old/src/main/cpp/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
old/src/main/cpp/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
old/src/main/cpp/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
old/src/main/cpp/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.out
old/src/main/cpp/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
old/src/main/cpp/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/a.out
old/src/main/cpp/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
old/src/main/cpp/cmake-build-debug/CMakeFiles/cpp.dir/main.cpp.o
benchmarks/data/health_insurance.csv
benchmarks/data/lung_cancer_dataset.csv
benchmarks/data/titanic/gender_submission.csv
benchmarks/data/titanic/test.csv
benchmarks/data/titanic/train.csv
Baselines/.idea/Baselines.iml
Baselines/.idea/misc.xml
Baselines/.idea/modules.xml
Baselines/.idea/src.iml
Baselines/.idea/vcs.xml
Baselines/.idea/inspectionProfiles/profiles_settings.xml
Baselines/.idea/inspectionProfiles/Project_Default.xml
Experiments/data/bank-additional-full.csv
Experiments/data/diabetes_prediction.csv
Experiments/data/kdd99.csv
Experiments/data/product_backorders.csv
Experiments/data/smoking_driking.csv
Experiments/data/TelcoCustomerChurn.csv
python/data/TelcoCustomerChurn.csv
python/data/TelcoCustomerChurn.csv
Experiments/data/titanic.csv
Experiments/setup/Baselines/__init__.py
Experiments/setup/Baselines/ChatGPT_KDD99.py
Experiments/setup/Baselines/ChatGPT_ProductBackorders.py
Experiments/setup/Baselines/ChatGPT_TelcoCustomerChurn.py
Experiments/setup/Baselines/ChatGPT_Titanic.py
Experiments/setup/Baselines/H2O_Classifier_AutoML.py
Experiments/setup/Baselines/requirements.txt
Experiments/setup/Baselines/SKLearn_Classifier_AutoML.py
Experiments/setup/Baselines/autoML/__init__.py
Experiments/setup/Baselines/autoML/H2O_AutoML.py
Experiments/setup/Baselines/autoML/SKLearnAutoML.py
Experiments/setup/Baselines/autoML/__pycache__/__init__.cpython-310.pyc
Experiments/setup/Baselines/autoML/__pycache__/H2O_AutoML.cpython-310.pyc
Experiments/setup/Baselines/autoML/__pycache__/SKLearnAutoML.cpython-310.pyc
Experiments/setup/Baselines/handcode/__init__.py
Experiments/setup/Baselines/util/__init__.py
Experiments/setup/Baselines/util/InputArgs.py
Experiments/setup/Baselines/util/Reader.py
Experiments/setup/Baselines/util/__pycache__/__init__.cpython-310.pyc
Experiments/setup/Baselines/util/__pycache__/InputArgs.cpython-310.pyc
Experiments/setup/Baselines/util/__pycache__/Reader.cpython-310.pyc
.idea/inspectionProfiles/profiles_settings.xml
/data/
