# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

.idea/*

src/main/__pycache__/*
src/main/python/.idea/
src/test/data/*

Experiments/data/*/*
Experiments/setup/automlbenchmark/*
Experiments/venv/
Experiments/results/
Experiments/setup/automl_test/
Experiments/setup/Baselines/

venv/
Experiments/cleaning-datasets/
src/python/.idea/*
Experiments/baselines/automl/__pycache__/*
Experiments/baselines/util/__pycache__/*
Experiments/baselines/.idea/*
Experiments/setup/automlbenchmark
Experiments/setup/automlbenchmark
Experiments/setup/config/MergeResults/__pycache__/MergeResults.cpython-310.pyc
Experiments/archive/SIGMOD2025-Results/server-16/Error/LLM_Pipe_Error_1.csv
Experiments/archive/SIGMOD2025-Results/server-16/Error/LLM_Pipe_Error_2.dat
Experiments/archive/SIGMOD2025-Results/server-35/Error/LLM_Pipe_Error_1.dat
Experiments/archive/SIGMOD2025-Results/server-35/Error/LLM_Pipe_Error_2.dat
Experiments/archive/SIGMOD2025-Results/server-65/Error/LLM_Pipe_Error_1.dat
Experiments/archive/SIGMOD2025-Results/server-65/Error/LLM_Pipe_Error_2.dat
Experiments/archive/SIGMOD2025-Results/server-65/Error/LLM_Pipe_Error_3.dat
Experiments/archive/SIGMOD2025-Results/server-113/Error/LLM_Pipe_Error_1.dat
Experiments/metadata/*
Experiments/tmprepo/*
envCatDB/*
Experiments/catalog/Violations/data_profile/*
Experiments/catalog/Violations/data_profile_update/*
Experiments/catalog/WiFi/data_profile/*
Experiments/catalog/WiFi/data_profile_update/*