<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> CatDB: Data Catalog Report </title>
  {% include 'scripts.html' %}
  {% include 'styles.html' %}
    {% include 'd3.v7.minjs.html' %}
    {% include 'd3.v7js.html' %}
</head>

<body class="bg-container">
<div id="demo">dddddddddddddddd</div>

  <script>

    // flare = d3.json("sample-2-level-a-b.json")
    flare = { "name": "Top Level", "children": [{ "name": "Level 2: A", "children": [{ "name": "Son of A" }, { "name": "Daughter of A" }] }, { "name": "Level 2: B" }] }
    // flare = mydata;

    margin = ({top: 10, right: 200, bottom: 10, left: 80}); // how far you want the figure to be from each side, right:200 means your last dot will be 200 left from right side, so your text can display
    width = 1600; // width of figure on the page
    dy = width / 10; // horizontal distance between nodes, ideally width divided by level of hierarchy
    dx = 15; // vertical height of each node, default 10
    tree = d3.tree().nodeSize([dx, dy]); // initializes tree and sets node-size
    diagonal = d3.linkHorizontal().x(d => d.y).y(d => d.x);

    const root = d3.hierarchy(flare);

    root.x0 = dy / 2;
    root.y0 = 0;
    root.descendants().forEach((d, i) => {
      d.id = i;
      d._children = d.children;
      if (d.depth && d.data.name.length !== 7) d.children = null;
    });

    const svg = d3.create("svg")
      .attr("viewBox", [-margin.left, -margin.top, width, dx])
      .style("font", "10px sans-serif") // font of the node text
      .style("user-select", "none");

    const gLink = svg.append("g")
      .attr("fill", "none")
      .attr("stroke", "#555") // color of line to node
      .attr("stroke-opacity", 0.2) // opacity of line to node
      .attr("stroke-width", 1.5); // width of line to node

    const gNode = svg.append("g")
      .attr("cursor", "pointer")
      .attr("pointer-events", "all");

    function update(source) {
      const duration = d3.event && d3.event.altKey ? 2500 : 250;
      const nodes = root.descendants().reverse();
      const links = root.links();

      // above defines the layout of tree, size, color, font etc.

      // below build tree using data and based on the above layout.
      tree(root);

      let left = root;
      let right = root;
      root.eachBefore(node => {
        if (node.x < left.x) left = node;
        if (node.x > right.x) right = node;
      });

      const height = right.x - left.x + margin.top + margin.bottom;

      const transition = svg.transition()
        .duration(duration)
        .attr("viewBox", [-margin.left, left.x - margin.top, width, height])
        .tween("resize", window.ResizeObserver ? null : () => () => svg.dispatch("toggle"));

      // Update the nodes…
      const node = gNode.selectAll("g")
        .data(nodes, d => d.id);

      // Enter any new nodes at the parent's previous position.
      const nodeEnter = node.enter().append("g")
        .attr("transform", d => `translate(${source.y0},${source.x0})`)
        .attr("fill-opacity", 0)
        .attr("stroke-opacity", 0)
        .on("click", (event, d) => {
          d.children = d.children ? null : d._children;
          update(d);
        });

      nodeEnter.append("circle")
        .attr("r", 2.5) // radius of node
        .attr("fill", d => d._children ? "#555" : "#999") // color of node, default
        .attr("stroke-width", 10);

      nodeEnter.append("text")
        .attr("dy", "0.31em") // y-position of text wrt node dot
        .attr("x", d => d._children ? -6 : 6) // how much left or right of dot text should be
        .attr("text-anchor", d => d._children ? "end" : "start")
        .text(d => d.data.name)
        .clone(true).lower()
        .attr("stroke-linejoin", "round")
        .attr("stroke-width", 3) // text outline width
        .attr("stroke", "white"); // text outline, default white

      // Transition nodes to their new position.
      const nodeUpdate = node.merge(nodeEnter).transition(transition)
        .attr("transform", d => `translate(${d.y},${d.x})`)
        .attr("fill-opacity", 1)
        .attr("stroke-opacity", 1);

      // Transition exiting nodes to the parent's new position.
      const nodeExit = node.exit().transition(transition).remove()
        .attr("transform", d => `translate(${source.y},${source.x})`)
        .attr("fill-opacity", 0)
        .attr("stroke-opacity", 0);

      // Update the links…
      const link = gLink.selectAll("path")
        .data(links, d => d.target.id);

      // Enter any new links at the parent's previous position.
      const linkEnter = link.enter().append("path")
        .attr("d", d => {
          const o = { x: source.x0, y: source.y0 };
          return diagonal({ source: o, target: o });
        });

      // Transition links to their new position.
      link.merge(linkEnter).transition(transition)
        .attr("d", diagonal);

      // Transition exiting nodes to the parent's new position.
      link.exit().transition(transition).remove()
        .attr("d", d => {
          const o = { x: source.x, y: source.y };
          return diagonal({ source: o, target: o });
        });

      // Stash the old positions for transition.
      root.eachBefore(d => {
        d.x0 = d.x;
        d.y0 = d.y;
      });
    }

    update(root);

    //d3.select('#demo').append(svg);

    $('#demo').append(svg._groups[0][0])
  </script>


   <div class="container-main" style="max-width: 100%">
    <div style="padding-left: 1.5rem">
      <h1 class="tb-title" style="max-width: 100%; font-weight: 800; padding-top: 20px; font-size: 1.05rem;">
        <span style="border-radius: 30rem !important; background-color: #ffefca;  padding: 5px; padding-left: 10px; padding-right: 10px; border-color: #ffcc85; border-style: solid; border-width: 1px; color: #bc3803">Data Catalog Report</span>
      </h1>
    </div>
     <div style="padding-top: 30px; padding-left: 1.5rem; width: 100%; text-align: center">
         <table>
             <tr>
                 <td>
                     <section class="section">
                        <div class="var-container">
                         <table style="width: 100%; background-color: white">
                             <tr><td style="text-align: left"><h5 style="font-weight: 600; font-size: 1rem;">Dataset Overview</h5></td></tr>
                             <tr style="height: 320px"><td style="background-color: white">
                                 {{ context.components.catalog['overview'].fig[0] }}
                                {{ context.components.catalog['overview'].fig[1] }}
                             </td></tr>
                         </table>

                        </div>
                     </section>
                 </td>
                 <td>
                     <section class="section">
                        <div class="var-container">
                            <table style="width: 100%; background-color: white">
                             <tr><td style="text-align: left"><h5 style="font-weight: 600; font-size: 1rem;">Feature Types</h5></td></tr>
                             <tr style="height: 320px"><td style="background-color: white">
                                {{ context.components.catalog['feature_type'].fig[0] }}
                                 {{ context.components.catalog['feature_type'].fig[1] }}
                             </td></tr>
                         </table>
                        </div>
                    </section>
                 </td>

                 <td>
                     <section class="section">
                        <div class="var-container">
                            <table style="width: 100%; background-color: white">
                             <tr><td style="text-align: left"><h5 style="font-weight: 600; font-size: 1rem;">Dataset Missing Values</h5></td></tr>
                             <tr style="height: 320px"><td style="background-color: white">
                                {{ context.components.catalog['missing'].fig[0] }}
                                {{ context.components.catalog['missing'].fig[1] }}
                             </td></tr>
                            </table>
                        </div>
                    </section>
                 </td>

                 <td>
                         <section class="section">
                            <div class="var-container">
                                <table style="width: 100%; background-color: white">
                                 <tr><td style="text-align: left"><h5 style="font-weight: 600; font-size: 1rem;">Dataset Distinct Values</h5></td></tr>
                                 <tr style="height: 320px"><td style="background-color: white">
                                   {{ context.components.catalog['distinct'].fig[0] }}
                                  {{ context.components.catalog['distinct'].fig[1] }}
                                 </td></tr>
                                </table>
                            </div>
                        </section>
                 </td>

                 <td>
                         <section class="section">
                            <div class="var-container">
                                <table style="width: 100%; background-color: white">
                                 <tr><td style="text-align: left"><h5 style="font-weight: 600; font-size: 1rem;">Categorical Features and Frequency</h5></td></tr>
                                 <tr style="height: 320px"><td style="background-color: white">
                                   {{ context.components.catalog['cat'].fig[0] }}
                                  {{ context.components.catalog['cat'].fig[1] }}
                                 </td></tr>
                                </table>
                            </div>
                        </section>
                 </td>
             </tr>
         </table>
     </div>
  </div>

  <footer class="footer">
    <p>Report generated with <a href="https://github.com/CoDS-GCS/CatDB">CatDB</a></p>
  </footer>

</body>

</html>
